@media (max-width: 1280px) {

    body {
        font-size: 32px;
    }

    hr {
        height: 5px;
    }

    /* Container */
    .container {
        width: 100%;
        max-width: 1280px;
    }

    /* Intro */
    .intro__subtitle {
        font-size: 60px;
    }

    .intro__title {
        font-size: 120px;
    }

    .intro__title:after {
        width: 120px;
        height: 4px;
        margin: 44px auto;
    }

    .intro__inner {
        width: 100%;
        max-width: 1220px;
    }

    .btn {
        padding: 8px 15px;
        font-size: 24px;
    }

    /* Header */
    .header__logo {
        font-size: 32px;
    }

     /* Nav */
     .nav {
        font-size: 16px;
    }

    /* Stat */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    .stat__count {
        margin-bottom: 5px;
        font-size: 52px;
    }

    .stat__text {
        font-size: 34px;
        font-weight: 300;
    }

    /* Services */
    .services__item {
        margin-top: 1%;
    }

    .services__title {
        margin-bottom: 5px;
        font-size: 28px;
    }

    .services__text {
        font-size: 28px;
    }

    .services__icon {
        left: 10px;
        top: -10px;
        width: 60px;
        height: 60px;
    }

    /* Section */
    .section {
        padding: 40px 0;
    }

    .section__header {
        max-width: 1220px;
    }
    
    .section__title:after {
        height: 3px;
        width: 80px;
    }

    .section__text {
        font-size: 24px;
    }

    .tab-content p {
        font-size: 28px;
    }

    .section__title {
        font-size: 48px;
    }

    .section__subtitle {
        font-size: 44px;
    }

    .section__text {
        margin-bottom: 32px;
    }

    /* slider */
    .carousel-items {
        height: 80%;
    }

    .carousel-wrapper {
        padding-bottom: 32%;
    }

    .carousel-labels {
        margin-bottom: 2%;
    }

    /* Card */
    .card__item {
        width: 30%;
    }

    .card__img img {
        min-height: 350px;
    }

    .card__img {
        height: 350px;
    }

    .card__text__about {
        font-size: 18px;
    }
    
    /* Footer */
    .footer {
        padding-top: 65px;
    }

    /* Copyright */
    .copyright {
        padding: 20px 0;
        border-top: 3px solid #e5e5e5;
        font-size: 24px;
    }

}