@media screen and (max-width: 479px) {

    /* Intro */
    .intro__subtitle {
        font-size: 32px;
        margin-top: 60px;
    }

    .intro__title {
        font-size: 48px;
        margin-top: 20px;
    }

    .intro__title:after {
        margin: 30px auto;
    }

    .btn {
        padding: 8px 30px;
        font-size: 20px;
    }

    /* Header */
    .header {
        padding: 10px 0;
    }

    .header__logo {
        margin: 0;
        font-size: 20px;
    }

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle__item {
        margin-bottom: 15px;
    }

    /* slider */
    .carousel-wrapper {
        padding: 0;
        min-height: 60rem;
        justify-content: center;
    }

    /* Section */
    .section {
        padding: 10px 0;
    }

    .section__header {
        margin-bottom: 50px;
    }

    .section__subtitle {
        font-size: 24px;
        
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    .section__text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* Stat */
    .statistics {
        margin: 0;
        padding: 0;
    }

    .stat__item {
        width: 100%;
    }

    .git__stat {
        width: 100%;
    }

    .git__snake {
        width: 100%;
        height: 100%;
        padding-bottom: 4px;
    }

    /* Card */
    .card__item {
        width: 100%;
        height: 50%;
        margin: 0;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }

    .card__text__about {
        margin: -10px  0;
        font-size: 18px;
    }

    /* Slider */
    .carousel-wrapper {
        padding: 0;
        height: 75em;
    }

    /* Services */
    .skills {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        margin-top: 10px;
    }

    .services__icon {
        left: 0;
        top: -12px;
        width: 50px;
        height: 50px;
    }

    .services__text {
        font-size: 18px;
    }

    .services__title {
        margin-bottom: 10px;
        font-size: 16px;
    }

    /* Footer */
    .footer {
        padding-top: 40px;
    }

    /* Copyright */
    .copyright {
    padding: 20px 0;
    border-top: 3px solid #e5e5e5;
    font-size: 15px;
    }

    .tab {
        font-size: 22px;
    }

    .tab-content {
        margin-top: 20px;
        font-size: 20px;
        float: left;
    }

    .tab label::after {
       display: none;
    }

}