@media (max-width: 768px) and (max-height: 1024px) {

    body {
        font-size: 24px;
    }

    hr {
        height: 3px;
    }

    /* Container */
    .container {
        width: 100%;
    }

    /* Intro */
    .intro__suptitle {
        font-size: 70px;
    }

    .intro__title {
        font-size: 100px;
    }

    .intro__inner {
        width: 100%;
    }

    /* Header */
    .header__logo {
        font-size: 35px;
    }

    .btn {
        padding: 8px 30px;
        font-size: 40px;
    }

    /* Header */
    .header {
        padding: 10px 0;
    }

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }

    /* Stat */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    .stat__count {
        margin-bottom: 5px;
        font-size: 42px;
    }

    .stat__text {
        font-size: 24px;
        font-weight: 300;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 5px;
        top: -2px;
    }

    .services__text {
        font-size: 32px;
    }

    .services__title {
        margin-bottom: 10px;
        font-size: 28px;
    }

    /* Section */
    .section {
        padding: 40px 0;
    }

    .section__header {
        max-width: 1230px;
    }
    
    .section__title:after {
        height: 3px;
        width: 80px;
    }

    .section__text {
        font-size: 26px;
    }

    .tab-content p {
        font-size: 26px;
    }

    .section__title {
        font-size: 45px;
    }

    .section__suptitle {
        font-size: 50px;
    }

    /* Card */
    .card__item {
        width: 33.33333%;
    }

    .card__img {
        max-height: 700px;
    }

    .card__text__about {
        margin: -10px  0;
        font-size: 16px;
    }

    .card__text {
        font-size: 18px;
    }

    .card__info {
        margin-top: 20px;
    }

    .card__name {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .card__prof {
        font-size: 24px;
    }

    .social__item {
        width: 60px;
        height: 60px;
        padding: 10px 10px;
        background-color: #434343;
        border-right: 3px solid black;
        font-size: 35px;
    }

    /* Caption text */
    .text {
        font-size: 20px;
    }

    /* Footer */
    .footer {
        padding-top: 65px;
    }

    /* Copyright */
    .copyright {
        padding: 20px 0;
        border-top: 3px solid #e5e5e5;
        font-size: 24px;
    }
}
